body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1, h2 {
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li, li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin: 15px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

ul li a, table a, a:not(.menu-link) {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

ul li a:hover, table a:hover, a:not(.menu-link):hover {
    text-decoration: underline;
}

.delete-link {
    padding: 0;
    background-color: transparent;
    color: #007BFF;
    border-radius: 0;
    text-decoration: underline;
}

.delete-link:hover {
    color: #0056b3;
    background-color: transparent;
    text-decoration: none;
}


.menu-link {
    margin-right: 15px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px;
    margin: 20px 0;
}

th, td {
    background-color: #fff;
    padding: 15px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
}

tr:hover td {
    background-color: #eff0f1;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 20px auto;
}

label {
    display: block;
    margin: 10px 0;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="submit"],
input[type="checkbox"],
input[type="date"],
textarea, button {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"], button {
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    width: auto;
}

input[type="submit"]:hover, button:hover {
    background-color: #0056b3;
}

.message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #fff;
}

.error {
    background-color: #ff3860;
}

.success {
    background-color: #23d160;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #aaa;
}
