<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav style="background-color: #e9ecef; padding: 10px; text-align: center; border-bottom: 2px solid #007bff;">
        <a href="{% url 'conference_rooms' %}" class="menu-link" style="margin-right: 15px; text-decoration: none; color: #007bff; font-weight: bold; display: inline-block;">Home</a>
        <a href="{% url 'list_of_all_rooms' %}" class="menu-link" style="margin-right: 15px; text-decoration: none; color: #007bff; font-weight: bold; display: inline-block;">List of Rooms</a>
        <a href="{% url 'add_new_room' %}" class="menu-link" style="margin-right: 15px; text-decoration: none; color: #007bff; font-weight: bold; display: inline-block;">Add New Room</a>
        <a href="{% url 'list_of_reservations' %}" class="menu-link" style="text-decoration: none; color: #007bff; font-weight: bold; display: inline-block;">List of Reservations</a>
</nav>

</body>
</html>






